.future__vehicles {
  background-color: $color-grey;
  .intro__container {
    .future__vehicles--left {
      background-image: url(../img/intro-3.jpg);
    }
    .future__vehicles--right {
      background-image: url(../img/intro-4.jpg);
    }
  }
}
